.header-container{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.header-options{
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}