.evaluation-body {
  background: white;
  border-radius: 40px 0;
  padding: 10px 20px;
  width: 90%;
   margin: 0 auto;
  height: 150px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.evaluation-header {
  margin: 6px 0;
  font-family: "Montserrat", sans-serif;
  color: #555;
}

.evaluation-star {
  color: #f5b301;
  font-size: 22px;
}

.evaluation-comments {
  font-size: 16px;
  color: #333;
  line-height: 1.7;
  font-style: italic;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
