<div class="about-us-section">
  <div class="about-content">
    <div class="about-text" id="about-us">
      <p class="highlight">
        {{ 'aboutUs.highlight' | t }}
      </p>
      <p>
        {{ 'aboutUs.p1' | t }}
      </p>
      <p>
        {{ 'aboutUs.p2' | t }}
      </p>
      <p>
        {{ 'aboutUs.p3' | t }}
      </p>
    </div>
  </div>

  <div class="about-visual">
    <img class="person-img" src="assets/images/rbclean-bras.webp" [alt]="'aboutUs.imageAlt' | t" width="421" height="671" loading="lazy" />
  </div>
</div>