<section id="home" class="home">
  <div class="home-top">
    <app-logo-text [homePage]="true"></app-logo-text>
    <p class="home-description">
      Devolva vida e frescor aos seus estofos com o serviço
      especializado da RB Clean. Realizamos limpeza profunda e
      higienização completa de sofás, poltronas, cadeiras, colchões e
      estofados automotivos.
    </p>
  </div>
  <div class="home-bottom">
    <app-button [buttonType]="ButtonType.secondary" label="Contacte-nos"></app-button>
  </div>
</section>
<app-services></app-services>