<div class="evaluation-card">
  <div class="evaluations-header" #statsHeader>
    <div class="evaluations-header-item">
      <div class="evaluations-header-item-number">{{ clientesSatisfeitos }}+</div>
      <div class="evaluations-header-item-text">Clientes Satisfeitos</div>
    </div>
    <div class="vertical-line"></div>
    <div class="evaluations-header-item">
      <div class="evaluations-header-item-number">{{ servicosRealizados }}+</div>
      <div class="evaluations-header-item-text">Serviços Realizados</div>
    </div>
  </div>

  <div class="evaluations-body">
    @for (evaluation of evaluations; track $index) {
        <app-evaluation
          [numberOfStars]="evaluation.numberOfStars"
          [comment]="evaluation.comment"
        />
    }
  </div>
</div>